
@font-face {
	font-family: 'bnazanb';
	src: url('/fonts/bnazanb/bnazanb.eot');
	src: local('bnazanb'), url('/fonts/bnazanb/bnazanb.woff') format('woff'), url('/fonts/bnazanb/bnazanb.ttf') format('truetype');
}
body {
  font-family: 'bnazanb' !important;
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
