
@font-face {
	font-family: 'Yekan';
	src: url('/fonts/Yekan/Yekan.eot');
	src: local('Yekan'), url('/fonts/Yekan/Yekan.woff') format('woff'), url('/fonts/Yekan/Yekan.ttf') format('truetype');
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Yekan' !important;

}
*{
  box-sizing: border-box;
  font-family: 'Yekan' !important;
}
